<style>
    .error {
        color: #ff0066;
    }
</style>

<div class="row">
    <div class="column column-50 column-offset-25">
        <br>
        <h2>Login</h2>
        <p>
            Hi buddy, log in with username <strong>future</strong> and password <strong>studio</strong>:
        </p>
        <p>
            <a href="/">Back to the startpage</a>
        </p>

        {{#if errormessage}}
            <hr>
            <p class="error">
                {{errormessage}}
            </p>
        {{/if}}

        <form method="POST">
            <fieldset>
                <label for="username">Username</label>
                <input type="text" name="username" title="Username" id="username" value="{{username}}">

                <label for="password">Password</label>
                <input type="password" name="password" title="Password" id="password">

                <input class="button-primary" type="submit" value="Log in">
            </fieldset>
        </form>
    </div>
</div>
