<!DOCTYPE html>
<html>
<head>
    <title>Multiple Handlebars Layouts</title>

    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="column column-25 column-offset-50">
                <span>
                    <i class="fa fa-font-awesome fa-lg" aria-hidden="true"></i> &nbsp;
                </span>
            </div>
        </div>

        {{{ content }}}

    </div>

</body>
</html>