<div class="row">
    <div class="column column-50 column-offset-25">
        <br>
        <h2>Hey there 😘</h2>
        <p>
            Future Studio is helping 5,000+ users daily to solve Android and Node.js problems with 350+ written tutorials and videos.
            We’re on a mission to provide new in-depth content every week.
        </p>

        <hr>

        <p>
            Take me back to the
            <a href="/">startpage</a>
        </p>

        <hr>

        <p>
            You’re here: {{ url }}
        </p>
    </div>
</div>