<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <style>
        * {
            font-family: Hind, sans-serif;
        }
    </style>
</head>

<body>
    <div id="skip">
        <a href="#app">skip to content</a>
    </div>

    <div class="container">

        <!--vue-ssr-outlet-->

    </div>

    <script src="/dist/build.js"></script>

</body>

</html>