<div>
    <h1>Hapi Cookie Authentication</h1>
    <p>
        Use the following credentials to log in.
    </p>
    <ul>
        <li><b>Username:</b> future</li>
        <li><b>Password:</b> studio</li>
    </ul>

    <form action="/" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" title="Username" id="username"/>

        <label for="password">Password</label>
        <input type="password" name="password" title="Password" id="password" />

        <input type="submit" value="Log in" />
    </form>
</div>