<div class="row">
    <div class="column">
        <br>
        <h2>{{title}} ({{statusCode}})</h2>
        <p>
            <strong>Called URL</strong>
            <br>
            <code>
                {{method}} {{url}}
            </code>
        </p>

        <p>
            <strong>Error Details</strong>
            <br>
            {{message}}
        </p>

        {{#if stacktrace}}
            <pre>
                <code>
                    {{~ stacktrace ~}}
                </code>
            </pre>
        {{/if}}

    </div>
</div>
