<div class="row">
    <div class="column column-50 column-offset-25">
        <br>
        <h2>Sign in with OAuth</h2>
        {{!--
        <p>
            Hi Buddy, authenticate with <a href="https://github.com">any OAuth Provider</a>.
        </p>
        <p>
            <a href="/auth/provider" class="button">
                <i class="fa fa-bullseye fa-lg" aria-hidden="true"></i> &nbsp;
                Authenticate with your Provider
            </a>
        </p>

        <hr>

        --}}
        <p>
            To illustrate the hapi configuration for a custom OAuth provider,
            let’s go with DigitalOcean and manually do the setup. You can apply
            the configuration to your provider.
        </p>
        <p>
            <a href="/auth/digitalocean" class="button">
                <i class="fa fa-bullseye fa-lg" aria-hidden="true"></i> &nbsp;
                Authenticate with DigitalOcean
            </a>
        </p>
        {{!<p>
            Sorry DigitalOcean for the wrong logo, Font Awesome doesn’t have
            the correct one yet :-/
        </p>
        }}

    </div>
</div>
